.badge-selected {
    cursor: pointer;
  }
  .top-movies {
    padding: 25px;
  }
  .image {
    transition: transform 0.15s;
  }
  .image.zoom {
    transform: scale(1.2);
    z-index: 1;
  }
  
  /* Hint suggestion */
  #suggestion_div {
    display: "none";
    z-index: 1;
    width: 30%;
    position: absolute;
    right: 25px;
    margin-top: 0px;
  }
  
  .badge-dragging {
    opacity: 0.5;
  }
  
  #selected-genres {
    height: auto;
    min-height: 50px;
  }
  
  .badge-selected {
    cursor: pointer;
  }
  .top-movies {
    padding: 25px;
  }
  .image {
    transition: transform 0.2s;
  }
  .image.zoom {
    transform: scale(1.2);
    z-index: 1;
  }
  
  /* search icon */
  .ms-n5 {
    margin-left: -40px;
    color: gray;
    z-index: 4;
  }
    